/**
All Styles
**/
@font-face {
  font-family: Egyptian;
  src: url("../fonts/6e10a66d-dfda-4866-8ba4-be80c33f44d9.eot?#iefix");
  src: url("../fonts/6e10a66d-dfda-4866-8ba4-be80c33f44d9.eot?#iefix") format("eot"), url("../fonts/220aeeef-b16f-4aa5-9cde-80a0c8898c31.woff2") format("woff2"), url("../fonts/9632f777-a0ee-40fc-ba6d-817484d1d572.woff") format("woff"), url("../fonts/0a5a4d63-7e73-45a2-b206-3c65108aab37.ttf") format("truetype"), url("../fonts/c039d37d-63b4-4b91-9acf-9296e42153df.svg#c039d37d-63b4-4b91-9acf-9296e42153df") format("svg"); }

@font-face {
  font-family: Avenir;
  font-weight: 400;
  src: url("../fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
  src: url("../fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"), url("../fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"), url("../fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"), url("../fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype"), url("../fonts/15281d0d-e3c2-46e1-94db-cb681e00bfaa.svg#15281d0d-e3c2-46e1-94db-cb681e00bfaa") format("svg"); }

@font-face {
  font-family: Avenir;
  font-weight: 700;
  src: url("../fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
  src: url("../fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"), url("../fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"), url("../fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"), url("../fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"), url("../fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg"); }

body {
  margin: 0; }

h1, h2, h3, h4, p {
  margin: 0; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:after, .slick-track:before {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir=rtl]
.slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.header {
  width: 100%;
  background: url("../images/tan-wood.jpg") no-repeat center;
  background-size: cover; }
  @media (min-width: 61.25em) {
    .header {
      padding-bottom: 1.75em; } }

.nav {
  text-align: center;
  width: 100%; }

.site-title {
  padding-top: 0.5em;
  margin: auto; }
  @media (min-width: 61.25em) {
    .site-title {
      width: 40%;
      position: absolute;
      left: 30%; } }

.site-logo {
  background-size: cover;
  display: block;
  height: 2em;
  width: 1.5em;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999em; }
  @media (min-width: 61.25em) {
    .site-logo {
      width: 10em;
      background-size: contain; } }

.nav__list {
  margin: 0;
  padding: 0;
  display: inline; }

.list__item {
  list-style-type: none;
  display: inline-block;
  padding: 1em 0;
  width: 24%; }
  @media (min-width: 61.25em) {
    .list__item {
      width: 6%;
      margin-top: 1.75em; } }

@media (min-width: 61.25em) {
  .left1 {
    margin: 0 5em 0 2em; } }

@media (min-width: 61.25em) {
  .left2 {
    margin-right: 15em; } }

@media (min-width: 61.25em) {
  .right1 {
    margin-left: 15em; } }

@media (min-width: 61.25em) {
  .right2 {
    margin: 0 2em 0 5em; } }

.item__link {
  text-decoration: none;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #4B3900; }
  .item__link:hover, .item__link:active {
    color: #F26531; }

#return-to-top {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  padding: 1em;
  z-index: 2;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  background: #4B3900;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #return-to-top:hover {
    background: #fff;
    color: #4B3900; }

#owl-btn {
  z-index: 3;
  position: fixed;
  bottom: 4em;
  right: 1.5em;
  display: block;
  height: 8em;
  width: auto;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }

.hero {
  background: url("../images/bedroom.jpg") no-repeat 5% 50%;
  background-size: cover; }
  .hero__overlay {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding-top: 4em; }
  .hero__heading {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.125em;
    color: #4B3900;
    margin-bottom: 0.5em; }
    @media (min-width: 45em) {
      .hero__heading {
        font-size: 2.5em; } }
    @media (min-width: 61.25em) {
      .hero__heading {
        font-weight: 700;
        font-size: 3.5em;
        margin-top: 1em; } }
    @media (min-width: 87.5em) {
      .hero__heading {
        font-size: 5.5em;
        margin-top: 0;
        margin-bottom: 0.25em; } }
  .hero__text {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #4B3900;
    width: 85%;
    margin: auto; }
    @media (min-width: 45em) {
      .hero__text {
        font-size: 1.5em; } }
    @media (min-width: 61.25em) {
      .hero__text {
        width: 75%;
        font-size: 2em; } }

.carousel {
  box-sizing: border-box;
  padding-top: 1.5em;
  background-color: rgba(232, 207, 0, 0.1); }
  @media (min-width: 25em) {
    .carousel {
      margin-top: 4em; } }
  @media (min-width: 45em) {
    .carousel {
      margin-top: 8em; } }
  @media (min-width: 87.5em) {
    .carousel {
      margin-top: 6em; } }

*,
*:before,
*:after {
  box-sizing: inherit; }

@media (min-width: 90em) {
  .row {
    width: 90em;
    margin: 0 auto; } }

.carousel__img {
  background-position: center;
  background-size: contain;
  height: 13em;
  width: auto;
  margin: 0 0.5em; }
  .carousel__img:hover .carousel__text__box, .carousel__img .carousel__text {
    display: block; }

.carousel__text {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  display: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0.25em 0; }
  .carousel__text__box {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    background-color: #F26531;
    padding: 0.25em 0;
    margin-top: 9.5em; }
    @media (min-width: 30em) {
      .carousel__text__box {
        display: none;
        max-width: 95%; } }
    @media (min-width: 90em) {
      .carousel__text__box {
        max-width: 16em; } }

.slick-dots {
  text-align: center;
  margin: 0 0 0.625em 0;
  padding: 0.75em; }
  .slick-dots li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em; }
    .slick-dots li.slick-active button {
      background-color: #08B7BD; }
    .slick-dots li button {
      text-shadow: none;
      color: transparent;
      background-color: #F26531;
      border: none;
      width: 1em;
      height: 1em;
      border-radius: 50%; }
      .slick-dots li button:hover {
        background-color: #fff; }
      .slick-dots li button:focus {
        outline: none; }
      @media (min-width: 30em) {
        .slick-dots li button {
          width: 1.75em;
          height: 1.75em; } }

.products {
  background: url("../images/white-wood.jpg") no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  text-align: center;
  padding: 4em 0;
  margin-top: -0.75em; }
  @media (min-width: 45em) {
    .products {
      background-attachment: fixed; } }
  .products__heading {
    width: 10em;
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 1em;
    color: #08B7BD;
    border-top: 2px solid #08B7BD;
    border-bottom: 2px solid #08B7BD;
    padding: 0.25em 0;
    margin: auto; }
    @media (min-width: 61.25em) {
      .products__heading {
        font-size: 1.5em; } }
  .products__box {
    margin: auto; }
  .products__group {
    display: inline-block; }
    .products__group__item {
      width: 100%; }
      @media (min-width: 56.5em) {
        .products__group__item {
          width: 48%;
          display: inline-block; } }
      @media (min-width: 81.25em) {
        .products__group__item {
          width: 32%; } }

.product-title {
  font-family: Egyptian, Georgia, "Times New Roman", serif;
  font-size: 1.75em;
  color: #fff;
  border: 2px solid #fff;
  padding: 1em; }
  @media (min-width: 45em) {
    .product-title {
      font-size: 2em; } }
  @media (min-width: 62em) {
    .product-title {
      font-size: 2.5em; } }
  .product-title__box {
    width: 85%;
    background-color: #08B7BD;
    padding: 1em;
    margin: 4em auto 3em; }
    @media (min-width: 90em) {
      .product-title__box {
        width: 76em; } }

.item__heading {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 0.5em 0; }
  @media (min-width: 81.25em) {
    .item__heading {
      font-size: 1.25em; } }
  .item__heading__box {
    width: 100%;
    background-color: #F26531;
    padding: 0.5em 0;
    position: relative;
    margin: auto;
    z-index: 1;
    top: 15em; }
    @media (min-width: 81.25em) {
      .item__heading__box {
        top: 16.25em; } }

.item__text {
  width: 90%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #4B3900;
  margin: 2em auto 5em; }
  @media (min-width: 45em) {
    .item__text {
      width: 36em; } }
  @media (min-width: 56.5em) {
    .item__text {
      width: 90%; } }
  @media (min-width: 960px) {
    .item__text {
      width: 26em; } }
  @media (min-width: 81.25em) {
    .item__text {
      width: 90%; } }

.flashcards {
  background: url("../images/flashcards.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .flashcards {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.wall-puzzles {
  background: url("../images/wall-puzzles.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .wall-puzzles {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.pillows {
  background: url("../images/pillow.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .pillows {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.decals {
  background: url("../images/wall-decal.jpg") no-repeat 50% 40%;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .decals {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.posters {
  background: url("../images/poster.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .posters {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.speak-piggy {
  background: url("../images/speak-piggy.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .speak-piggy {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.c-for-cow {
  background: url("../images/c-is-for-cow.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .c-for-cow {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.two-by-two {
  background: url("../images/two-by-two.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  width: 20em;
  height: 20em;
  border: 1px solid #E4E5E6;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em; }
  @media (min-width: 81.25em) {
    .two-by-two {
      width: 22em;
      height: 22em;
      border-radius: 11em;
      -webkit-border-radius: 11em;
      -moz-border-radius: 11em; } }

.where-to-buy {
  width: 90%;
  background-color: #08B7BD;
  padding: 1em;
  margin: 4em auto 1em; }
  @media (min-width: 90em) {
    .where-to-buy {
      width: 80em; } }
  .where-to-buy__text {
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 1.5em;
    color: #fff; }
    @media (min-width: 87.5em) {
      .where-to-buy__text {
        position: absolute;
        margin-top: 1.25em;
        left: 9em; } }
    @media (min-width: 90em) {
      .where-to-buy__text {
        left: 9.5em; } }
  .where-to-buy__logo {
    background-position: 50% 50%;
    display: block;
    margin-top: 1em;
    padding: 1em;
    text-indent: -9999em; }
    .where-to-buy__logo:hover {
      filter: invert(100%);
      -webkit-filter: invert(100%); }
    @media (min-width: 87.5em) {
      .where-to-buy__logo {
        background-position: 80% 50%;
        margin-bottom: 1em; } }
    @media (min-width: 90em) {
      .where-to-buy__logo {
        background-position: 78% 50%; } }

.fun-fact__heading {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: #4B3900;
  text-align: left;
  margin-bottom: 0.25em; }

.fun-fact__text {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #4B3900;
  text-align: left; }

.icon-duck {
  background-position: 175% 100%;
  background-size: 10em auto;
  position: relative; }
  @media (min-width: 50em) {
    .icon-duck {
      background-position: 100% 100%;
      cursor: pointer; }
      .icon-duck:hover .fun-fact--duck {
        display: inline-block; }
      .icon-duck:active .fun-fact--duck {
        display: inline-block; } }

.fun-fact--duck {
  display: none;
  background-color: #F0F1D9;
  border-radius: 1em;
  position: absolute;
  width: 15em;
  padding: 1em; }
  @media (min-width: 50em) {
    .fun-fact--duck {
      bottom: 80%;
      right: 3%; } }
  @media (min-width: 87.5em) {
    .fun-fact--duck {
      right: 2%; } }

.icon-bear {
  background-position: -65% 0%;
  position: relative; }
  @media (min-width: 50em) {
    .icon-bear {
      background-position: -1% 0%;
      cursor: pointer; }
      .icon-bear:hover .fun-fact--bear {
        display: block; }
      .icon-bear:active .fun-fact--bear {
        display: block; } }

.fun-fact--bear {
  display: none;
  background-color: #F0F1D9;
  border-radius: 1em;
  position: absolute;
  width: 15em;
  padding: 1em; }
  @media (min-width: 50em) {
    .fun-fact--bear {
      bottom: 80%;
      left: 12%; } }
  @media (min-width: 87.5em) {
    .fun-fact--bear {
      left: 9%; } }

.icon-goldfish {
  background-position: 195% 100%;
  background-size: 11em auto;
  position: relative; }
  @media (min-width: 50em) {
    .icon-goldfish {
      background-position: 114% 100%;
      cursor: pointer; }
      .icon-goldfish:hover .fun-fact--goldfish {
        display: block; }
      .icon-goldfish:active .fun-fact--goldfish {
        display: block; } }
  @media (min-width: 56.5em) {
    .icon-goldfish {
      background-position: 105% 100%; } }
  @media (min-width: 81.25em) {
    .icon-goldfish {
      background-size: 13em auto; } }

.fun-fact--goldfish {
  display: none;
  background-color: #F0F1D9;
  border-radius: 1em;
  position: absolute;
  width: 15em;
  padding: 1em; }
  @media (min-width: 50em) {
    .fun-fact--goldfish {
      bottom: 80%;
      right: 3%; } }
  @media (min-width: 87.5em) {
    .fun-fact--goldfish {
      right: 2%; } }

.icon-owl {
  background-position: 195% 100%;
  background-size: 11em auto;
  position: relative; }
  @media (min-width: 50em) {
    .icon-owl {
      background-position: 114% 100%;
      cursor: pointer; }
      .icon-owl:hover .fun-fact--owl {
        display: block; }
      .icon-owl:active .fun-fact--owl {
        display: block; } }
  @media (min-width: 56.5em) {
    .icon-owl {
      background-position: 105% 100%; } }
  @media (min-width: 81.25em) {
    .icon-owl {
      background-size: 13em auto; } }

.fun-fact--owl {
  display: none;
  background-color: #F0F1D9;
  border-radius: 1em;
  position: absolute;
  width: 15em;
  padding: 1em; }
  @media (min-width: 50em) {
    .fun-fact--owl {
      bottom: 80%;
      right: 3%; } }
  @media (min-width: 87.5em) {
    .fun-fact--owl {
      right: 2%; } }

.faq {
  background-color: #F26531;
  text-align: center;
  padding: 4em 0; }
  .faq__heading {
    width: 10em;
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 1em;
    color: #E4E5E6;
    border-top: 2px solid #E4E5E6;
    border-bottom: 2px solid #E4E5E6;
    padding: 0.25em 0;
    margin: auto; }
    @media (min-width: 61.25em) {
      .faq__heading {
        font-size: 1.5em; } }
  .faq__links {
    width: 100%;
    margin: 4em auto; }
  .faq__link {
    width: 48%;
    display: inline;
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 2.25em;
    color: #F0F1D9;
    text-decoration: none;
    padding: 0.5em;
    border: 2px solid #4B3900; }
    .faq__link:hover, .faq__link:active {
      background-color: #4B3900; }
  .faq__box {
    margin: auto;
    margin-bottom: 1.5em; }
    @media (min-width: 25em) {
      .faq__box {
        width: 90%; } }
    @media (min-width: 50em) {
      .faq__box {
        width: 70%; } }
  .faq__question {
    width: 90%;
    background-color: #F0F1D9;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    color: #F26531;
    cursor: pointer;
    padding: 1.25em;
    margin: 0 auto;
    border: none;
    text-align: left;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .faq__question:hover {
      background-color: #4B3900; }
    @media (min-width: 90em) {
      .faq__question {
        width: 56em; } }
  .faq__answer__box {
    width: 95%;
    display: none;
    padding: 0.25em;
    margin: auto; }
  .faq__answer__box.show {
    display: block !important; }
  .faq__answer {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #F0F1D9; }
  .faq__other {
    width: 90%;
    margin: auto; }
    @media (min-width: 50em) {
      .faq__other {
        width: 45em; } }
    .faq__other__text {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: #4B3900;
      padding: 1em;
      border: 2px solid #F0F1D9; }

.retailers {
  background: url("../images/tan-wood.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 4em 0; }
  .retailers__heading {
    width: 10em;
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 1em;
    color: #08B7BD;
    border-top: 2px solid #08B7BD;
    border-bottom: 2px solid #08B7BD;
    padding: 0.25em 0;
    margin: auto; }
    @media (min-width: 61.25em) {
      .retailers__heading {
        font-size: 1.5em; } }
  .retailers__text {
    width: 90%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #08B7BD;
    margin: 2em auto; }
    @media (min-width: 72em) {
      .retailers__text {
        width: 28em;
        font-size: 2.5em; } }
  .retailers__form {
    width: 100%; }
  .retailers__input {
    width: 90%;
    display: block;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #08B7BD;
    padding: 1em 0 1em 0.75em;
    margin: 1em auto;
    border: none; }
    .retailers__input:focus {
      outline-color: #A1A1A1; }
    @media (min-width: 50em) {
      .retailers__input {
        width: 70%; } }
    @media (min-width: 75em) {
      .retailers__input {
        width: 40%; } }
    @media (min-width: 90em) {
      .retailers__input {
        width: 38em; } }
  .retailers__textarea {
    width: 90%;
    display: block;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #08B7BD;
    padding: 1em 0 7em 0.75em;
    margin: 1em auto;
    border: none; }
    .retailers__textarea:focus {
      outline-color: #A1A1A1; }
    @media (min-width: 50em) {
      .retailers__textarea {
        width: 70%; } }
    @media (min-width: 75em) {
      .retailers__textarea {
        width: 40%; } }
    @media (min-width: 90em) {
      .retailers__textarea {
        width: 38em; } }
  .retailers__submit {
    width: 92%;
    background-color: #08B7BD;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #F0F1D9;
    padding: 2em 0;
    margin: 1em auto;
    border-radius: 0;
    border: none; }
    .retailers__submit:focus {
      outline-color: #A1A1A1; }
    .retailers__submit:hover {
      background-color: #A1A1A1; }
    @media (min-width: 50em) {
      .retailers__submit {
        width: 40%; } }
    @media (min-width: 75em) {
      .retailers__submit {
        width: 25%; } }
    @media (min-width: 90em) {
      .retailers__submit {
        width: 18em; } }

::-webkit-input-placeholder {
  color: #08B7BD; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #08B7BD; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #08B7BD; }

:-ms-input-placeholder {
  color: #08B7BD; }

.about {
  background-color: #08B7BD;
  text-align: center;
  padding: 4em 0 8em; }
  .about__heading {
    width: 10em;
    font-family: Egyptian, Georgia, "Times New Roman", serif;
    font-size: 1em;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 0.25em 0;
    margin: auto; }
    @media (min-width: 61.25em) {
      .about__heading {
        font-size: 1.5em; } }
  .about__text {
    width: 90%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #fff;
    margin: 2em auto 5em; }
    @media (min-width: 50em) {
      .about__text {
        width: 27em;
        font-size: 1.75em; } }
  .about__logo {
    background-position: center;
    display: inline;
    padding: 5em 15em;
    text-indent: -9999em; }
    .about__logo:hover {
      filter: invert(100%);
      -webkit-filter: invert(100%); }
    @media (min-width: 25em) {
      .about__logo {
        padding: 5em 10em; } }
    @media (min-width: 50em) {
      .about__logo {
        padding: 6em 16em; } }

.footer {
  background: url("../images/brown-wood.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 4em 0; }
  @media (min-width: 90em) {
    .footer__container {
      width: 90em;
      margin: auto; } }
  .footer__links {
    width: 100%; }
    @media (min-width: 56.25em) {
      .footer__links {
        width: 33%;
        float: left;
        text-align: left; } }
  .footer__link {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0.25em auto; }
    .footer__link:hover {
      color: #000; }
    @media (min-width: 56.25em) {
      .footer__link {
        margin-left: 3em; } }
  .footer__text {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    display: block;
    margin: 0.25em auto; }
    @media (min-width: 56.25em) {
      .footer__text {
        margin-left: 3em; } }
  .footer__site-logo {
    width: 100%; }
    @media (min-width: 56.25em) {
      .footer__site-logo {
        width: 33%;
        float: left; } }
  .footer__logo {
    background-position: center;
    display: block;
    height: 3em;
    text-indent: -9999em;
    margin: 3em auto; }
    .footer__logo:hover {
      filter: invert(100%);
      -webkit-filter: invert(100%); }
    @media (min-width: 50em) {
      .footer__logo {
        margin: 1em auto; } }
  .footer__icons {
    width: 100%;
    margin: auto;
    display: inline-block; }
    @media (min-width: 56.25em) {
      .footer__icons {
        width: 30%;
        text-align: right;
        margin-right: 2em; } }
  .footer__icon {
    background-position: center;
    display: inline-block;
    height: 3em;
    text-indent: -9999em;
    width: 23%;
    margin: 2em auto 0; }
    .footer__icon:hover {
      filter: invert(100%);
      -webkit-filter: invert(100%); }
    @media (min-width: 56.25em) {
      .footer__icon {
        width: 26%;
        margin: 1em auto 0; } }
