<section class="about" id="about">
  <h2 class="about__heading">About</h2>
  <p class="about__text">A Modern Eden is a line of products designed for style savvy parents who care about what they put in their kids’ rooms, prints, totes, accessories, and mobile apps that feature mid-century modern animal illustrations. Developed by creative agency Sparkbox, located in Dayton, Ohio, A Modern Eden products feature sustainable materials and hand-crafted goodness.</p>	
  <a href="https://seesparkbox.com/" class="about__logo icon-sparkbox-logo"></a>
</section>
