<section class="carousel">
	<div class="row">
		<div class="col-md-12 heroSlider-fixed">

			{{!-- Slider --}}
			<div class="slider responsive">
				<div class="carousel__img icon-antelope">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Savannah the Antelope</h2>
					</div>
				</div>
				
				<div class="carousel__img icon-cow">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Coco the Cow</h2>
					</div>
				</div>

				<div class="carousel__img icon-elephant">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Edgar the Elephant</h2>
					</div>
				</div>

				<div class="carousel__img icon-goose">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Maple the Goose</h2>
					</div>
				</div>
				
				<div class="carousel__img icon-horse">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Ryder the Horse</h2>
					</div>
				</div>

				<div class="carousel__img icon-kangaroo">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Boomer the Kangaroo</h2>
					</div>
				</div>
				
				<div class="carousel__img icon-lion">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Henry the Lion</h2>
					</div>
				</div>

				<div class="carousel__img icon-moose">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Jack the Moose</h2>
					</div>
				</div>

				<div class="carousel__img icon-mouse">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Jack the Mouse</h2>
					</div>
				</div>

				<div class="carousel__img icon-octopus">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Inky the Octopus</h2>
					</div>
				</div>

				<div class="carousel__img icon-rhino">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Rodger the Rhino</h2>
					</div>
				</div>
				
				<div class="carousel__img icon-snake">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Sandy the Snake</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
