<section class="carousel">
	<div class="row">
		<div class="col-md-12 heroSlider-fixed">
			<!-- Slider -->
			<div class="slider responsive">
				<div class="carousel__img">
					<h2 class="carouse__text">Major the Bear</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Coco the Cow</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Edgar the Elephant</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Izzy the Iguana</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Jack the Moose</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Toothy the Narwhal</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Roger the Rhino</h2>
				</div>

				<div class="carousel__img">
					<h2 class="carouse__text">Wilhelm the X-Ray Fish</h2>
				</div>
			</div>

			<!-- Control Arrows -->
			<div class="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</div>
			<div class="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</div>

		</div>
	</div>
</section>