<section class="carousel">
	<div class="row">
		<div class="col-md-12 heroSlider-fixed">

			{{!-- Slider --}}
			<div class="slider responsive">
				<div class="carousel__img icon-cheetah">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Chuck the Cheetah</h2>
					</div>
				</div>

				<div class="carousel__img icon-cow">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Coco the Cow</h2>
					</div>
				</div>

				<div class="carousel__img icon-elephant">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Edgar the Elephant</h2>
					</div>
				</div>

				<div class="carousel__img icon-iguana">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Izzy the Iguana</h2>
					</div>
				</div>

				<div class="carousel__img icon-moose">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Jack the Moose</h2>
					</div>
				</div>

				<div class="carousel__img icon-narwhal">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Toothy the Narwhal</h2>
					</div>
				</div>

				<div class="carousel__img icon-rhino">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Roger the Rhino</h2>
					</div>
				</div>

				<div class="carousel__img icon-yak">
					<div class="carousel__text__box">
						<h2 class="carousel__text">Tibet the Yak</h2>
					</div>
				</div>
			</div>

			{{!-- Control Arrows --}}
			<div class="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</div>
			<div class="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</div>

		</div>
	</div>
</section>
