<section class="faq">
  <div class="btn-list-links">
    <a class="btn-link" href="javascript:showonlyone('newboxes1');">Retailers</a>
    <a class="btn-link" href="javascript:showonlyone('newboxes2');">Parents</a>
  </div>

  <div class="newboxes" id="newboxes1" style="display: block;padding: 5px;">
    <div class="list1">
      <section class="section1">
        <button class="btn">Button 1</button>
        <div class="panel">
          <p>This is the first button of list 1.</p>
        </div>
      </section>

      <section class="section2">
        <button class="btn">Button 2</button>
        <div class="panel">
          <p>This is the second button of list 1.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="newboxes" id="newboxes2" style="display: none;padding: 5px;">
    <div class="list2">
      <section class="section1">
        <button class="btn">Button 3</button>
        <div class="panel">
          <p>This is the first button of list 2.</p>
        </div>
      </section>

      <section class="section2">
        <button class="btn">Button 4</button>
        <div class="panel">
          <p>This is the second button of list 2.</p>
        </div>
      </section>
    </div>
  </div>
</section>