<section class="faq" id="faq">
  <h2 class="faq__heading">FAQ</h2>

  <div class="faq__links">
    <a class="faq__link" href="javascript:showonlyone('newboxes1');">Retailers</a>
    <a class="faq__link" href="javascript:showonlyone('newboxes2');">Parents</a>
  </div>

  <div class="newboxes" id="newboxes1" style="display: block;padding: 5px;">
    <div class="list1">
      <dl class="faq__box">
        <dt class="faq__question">What countries do you distribute to?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">Currently we only ship our products in the United States and Canada, but we are looking to expand very soon!</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">When will new products be released?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">New products are in development, and we will be releasing some new items very soon. Stay tuned!</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">How are the products made?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">Our products are made from high-quality materials and by very trusted companies that value both the product and the environment.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">Where do the raw materials come from?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">All of our materials come from a trusted group of companies that care about the quality of their products and the environment. For a full list of the suppliers email us at contact@amoderneden.com.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">Who do I contact if I want to sell your product in my store?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">If you would like to carry one of our many products, fill out the contact form below and we will be in touch very shortly!</p>
        </dd>
      </dl>
    </div>
  </div>

  <div class="newboxes" id="newboxes2" style="display: none;padding: 5px;">
    <div class="list2">
      <dl class="faq__box">
        <dt class="faq__question">What age does my child have to be to use your products?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">Our products are wonderful for a wide range of ages, but are commonly used by children ages 1-12.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">Are your products safe for my children to use?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">We value the safety of anyone that uses our products, and can guarantee that we make each and every item as safe as we possibly can.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">What languages are available for your mobile games?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">We currently only have English versions of our apps, but we are working towards making it available for children that speak other languages.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">I do not live in the United States or Canada, how can I get one of your products?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">We are working towards expanding our distribution, so for now try shopping at <a href="http://www.landofnod.com/">The Land of Nod</a>. If you are having issues or have further quesitons, contact us at contact@amoderneden.com.</p>
        </dd>
      </dl>

      <dl class="faq__box">
        <dt class="faq__question">Where can I find more A Modern Eden products?</dt>
        <dd class="faq__answer__box">
          <p class="faq__answer">Most of our products are currently sold at <a href="http://www.landofnod.com/">The Land of Nod</a></p>
        </dd>
      </dl>
    </div>
  </div>

  <div class="faq__other">
    <p class="faq__other__text">Other questions? Contact us here at contact@amoderneden.com or call us at (123)-456-7890. We will do our best to get back to you as soon as we can!</p>
  </div>
</section>
