<section class="faq" id="faq">
  <h2 class="faq__heading">FAQ</h2>

  <b id="retailers" class="faq__targets"></b>
  <b id="parents" class="faq__targets"></b>

  <div class="faq__content">
    <a href="#retailers" class="faq__link link__group--1">Retailers</a>
    <a href="#parents" class="faq__link link__group--2">Parents</a>

    {{!-- FAQ List 1 --}}
    <ul class="faq__list list--1">
      <li class="faq__item">
        <input id="list--1__question--1" class="visually-hidden" type="checkbox"/>
        <label for="list--1__question--1" class="faq__question">What countries do you distribute to?</label>
        <span class="faq__answer">Currently we only ship our products in the United States and Canada, but we are looking to expand very soon!</span>
      </li>

      <li class="faq__item">
        <input id="list--1__question--2" class="visually-hidden" type="checkbox"/>
        <label for="list--1__question--2" class="faq__question">When will new products be released?</label>
        <span class="faq__answer">New products are in development, and we will be releasing some new items very soon. Stay tuned!</span>
      </li>

      <li class="faq__item">
        <input id="list--1__question--3" class="visually-hidden" type="checkbox"/>
        <label for="list--1__question--3" class="faq__question">How are the products made?</label>
        <span class="faq__answer">Our products are made from high-quality materials and by very trusted companies that value both the product and the environment.</span>
      </li>

      <li class="faq__item">
        <input id="list--1__question--4" class="visually-hidden" type="checkbox"/>
        <label for="list--1__question--4" class="faq__question">Where do the raw materials come from?</label>
        <span class="faq__answer">All of our materials come from a trusted group of companies that care about the quality of their products and the environment. For a full list of the suppliers email us at contact@amoderneden.com.</span>
      </li>

      <li class="faq__item">
        <input id="list--1__question--5" class="visually-hidden" type="checkbox"/>
        <label for="list--1__question--5" class="faq__question">Who do I contact if I want to sell your product in my store?</label>
        <span class="faq__answer">If you would like to carry one of our many products, fill out the contact form below and we will be in touch very shortly!</span>
      </li>
    </ul>

    {{!-- FAQ List 2 --}}
    <ul class="faq__list list--2">
      <li class="faq__item">
        <input id="list--2__question--1" class="visually-hidden" type="checkbox"/>
        <label for="list--2__question--1" class="faq__question">What age does my child have to be to use your products?</label>
        <span class="faq__answer">Our products are wonderful for a wide range of ages, but are commonly used by children ages 1-12.</span>
      </li>

      <li class="faq__item">
        <input id="list--2__question--2" class="visually-hidden" type="checkbox"/>
        <label for="list--2__question--2" class="faq__question">Are your products safe for my children to use?</label>
        <span class="faq__answer">We value the safety of anyone that uses our products, and can guarantee that we make each and every item as safe as we possibly can.</span>
      </li>

      <li class="faq__item">
        <input id="list--2__question--3" class="visually-hidden" type="checkbox"/>
        <label for="list--2__question--3" class="faq__question">What languages are available for your mobile games?</label>
        <span class="faq__answer">We currently only have English versions of our apps, but we are working towards making it available for children that speak other languages.</span>
      </li>

      <li class="faq__item">
        <input id="list--2__question--4" class="visually-hidden" type="checkbox"/>
        <label for="list--2__question--4" class="faq__question">I do not live in the United States or Canada, how can I get one of your products?</label>
        <span class="faq__answer">We are working towards expanding our distribution, so for now try shopping at <a href="http://www.landofnod.com/" class="faq__answer__link">The Land of Nod</a>. If you are having issues or have further questions, contact us at <a href="mailto:info@amoderneden.com" class="faq__answer__link">info@amoderneden.com</a>.</span>
      </li>

      <li class="faq__item">
        <input id="list--2__question--5" class="visually-hidden" type="checkbox"/>
        <label for="list--2__question--5" class="faq__question">Where can I find more A Modern Eden products?</label>
        <span class="faq__answer">Most of our products are currently sold at <a href="http://www.landofnod.com/" class="faq__answer__link">The Land of Nod</a>.</span>
      </li>
    </ul>
  </div>

  <div class="faq__other">
    <p class="faq__other__text">Other questions? Contact us here at <a href="mailto:info@amoderneden.com" class="faq__other__link">info@amoderneden.com</a> or call us at <a href="tel:1-877-439-3336" class="faq__other__link">(877)-439-3336</a>. We will do our best to get back to you as soon as we can!</p>
  </div>
</section>
