<footer class="footer">
	<div class="footer__container">
		<div class="footer__links">
			<a href="#" class="footer__link">Privacy Policy</a>
			<a href="#" class="footer__link">Terms &amp; Conditions</a>
			<p class="footer__text">A Modern Eden &copy; 2016</p>
		</div>

		<div class="footer__site-logo">
			<div class="footer__logo icon-logo-white">A Modern Eden</div>
		</div>

		<div class="footer__icons">
			<a href="tel:1-234-567-8900" class="footer__icon icon-phone" data-grunticon-embed></a>
			<a href="#" class="footer__icon icon-facebook" data-grunticon-embed></a>
			<a href="https://twitter.com/amoderneden?lang=en" class="footer__icon icon-twitter" data-grunticon-embed></a>
		</div>
	</div>
</footer>
