<header class="header">
  <nav class="nav">
    <img class="logo--lg" src="../icons/ame-logo-lg.svg">
    <img class="logo--sm" src="../icons/ame-logo-sm.svg">

    <ul class="nav__list left">
      <li class="list__item"><a href="#" class="item__link">Products</a></li>
      <li class="list__item"><a href="#" class="item__link">FAQ</a></li>
    </ul>

    <ul class="nav__list right">
      <li class="list__item"><a href="#" class="item__link">Retailers</a></li>
      <li class="list__item"><a href="#" class="item__link">About</a></li>
    </ul>
  </nav>
</header>