<header class="header">
  <h1 class="site-title">
    <a href="/" class="site-logo icon-logo">A Modern Eden</a>
  </h1>
  <nav class="nav">
    <ul class="nav__list">
      <li class="list__item left1"><a href="#products" class="item__link">Products</a></li>
      <li class="list__item left2"><a href="#faq" class="item__link">FAQ</a></li>
      <li class="list__item right1"><a href="#retailers" class="item__link">Retailers</a></li>
      <li class="list__item right2"><a href="#about" class="item__link">About</a></li>
    </ul>
  </nav>
</header>

{{!-- Back to Top --}}
<img src="/images/owl-btn.png" id="owl-btn" alt="AME owl image">
<a href="javascript:" id="return-to-top">Back to Top</a>
