<header class="header">
  <h1 class="site-title">
    <a href="/" class="site-logo icon-logo">A Modern Eden</a>
  </h1>
  <nav class="nav">
    <ul class="nav__list">
      <li class="list__item left1"><a href="#" class="item__link">Products</a></li>
      <li class="list__item left2"><a href="#" class="item__link">FAQ</a></li>
      <li class="list__item right1"><a href="#" class="item__link">Retailers</a></li>
      <li class="list__item right2"><a href="#" class="item__link">About</a></li>
    </ul>
  </nav>
</header>