<section class="products">
	<h2>Products</h2>

	<!----------Toy Products---------->
	<div class="toys">
		<div>
			<h3>Toys that will quack you up</h3>
		</div>

		<div>
			<div>

			</div>

			<div>

			</div>

			<div>

			</div>
		</div>
	</div>

	<!----------Wall Decor Products---------->
	<div class="wall-decor">
		<div>
			<h3>Wall Decor for your bear walls</h3>
		</div>

		<div>
			<div>

			</div>

			<div>

			</div>

			<div>

			</div>
		</div>
	</div>

	<!----------Mobile App Products---------->
	<div class="mobile-apps">
		<div>
			<h3>Mobile Apps with sofishtication in mind</h3>
		</div>

		<div>
			<div>

			</div>

			<div>

			</div>

			<div>

			</div>
		</div>
	</div>
</section>