<section class="products">
	<h2>Products</h2>

	<!----------Toy Products---------->
	<div class="toys__box">
		<div class="product-title__box">
			<h3 class="product-title">Toys that will quack you up</h3>
		</div>

		<div class="toys">
			<div class="flashcards">
				<div class="flashcards__box">
					<h4 class="flashcards__title">Flashcards</h4>
					<p class="flashcards__text">Kids love learning about animals with A Modern Eden A to Z Flashcards. Animal textures are printed with Digi-touch technology. Contains 27 cards with information about the animal on&nbsp;back.</p>
				</div>
			</div>

			<div class="wall-puzzles">
				<div class="wall-puzzles__box">
					<h4 class="wall-puzzles__title">Wall Puzzles</h4>
					<p class="wall-puzzles__text">Made with Blik Re-Stik, these puzzles are movable and reusable. Each set contains four puzzles that create a single scene. Collect all five habitats: Farm, Rainforest, Polar, Ocean, and&nbsp;Grassland.</p>
				</div>
			</div>

			<div class="pillows">
				<div class="pillows__box">
					<h4 class="pillows__title">Pillows</h4>
					<p class="pillows__text">Safe for young ‘uns that like to put everything in their mouths, our animal pillows don’t have any detachable pieces. These pillows are the perfect size for your little one’s&nbsp;arms.</p>
				</div>
			</div>
		</div>
	</div>

	<!----------Wall Decor Products---------->
	<div class="wall-decor__box">
		<div class="product-title__box">
			<h3 class="product-title">Wall Decor for your bear walls</h3>
		</div>

		<div class="wall-decor">
			<div class="decals">
				<div class="decals__box">
					<h4 class="decals__title">Wall Decals</h4>
					<p class="decals__text"></p>
				</div>
			</div>

			<div class="posters">
				<div class="posters__box">
					<h4 class="posters__title">Posters</h4>
					<p class="posters__text"></p>
				</div>
			</div>
		</div>
	</div>

	<!----------Mobile App Products---------->
	<div class="mobile-apps">
		<div>
			<h3>Mobile Apps with sofishtication in mind</h3>
		</div>

		<div>
			<div>

			</div>

			<div>

			</div>

			<div>

			</div>
		</div>
	</div>
</section>