<section class="products">
	<h2 class="products__heading">Products</h2>

	{{!-- Toy Products --}}
	<div class="products__box">
		<div class="product-title__box">
			<h3 class="product-title">Toys that will quack you up</h3>
		</div>

		<div class="products__group">
			<div class="products__group__item">
				<div class="flashcards">
					<div class="item__heading__box">
						<h4 class="item__heading">Flashcards</h4>
					</div>
				</div>
				<p class="item__text">Kids love learning about animals with A Modern Eden A to Z Flashcards. Animal textures are printed with Digi-touch technology. Contains 27 cards with information about the animal on&nbsp;back.</p>
			</div>

			<div class="products__group__item">
				<div class="wall-puzzles">
					<div class="item__heading__box">
						<h4 class="item__heading">Wall Puzzles</h4>
					</div>
				</div>
				<p class="item__text">Made with Blik Re-Stik, these puzzles are movable and reusable. Each set contains four puzzles that create a single scene. Collect all five habitats: Farm, Rainforest, Polar, Ocean, and&nbsp;Grassland.</p>
			</div>

			<div class="products__group__item">
				<div class="pillows">
					<div class="item__heading__box">
						<h4 class="item__heading">Pillows</h4>
					</div>
				</div>
				<p class="item__text">Safe for young ‘uns that like to put everything in their mouths, our animal pillows don’t have any detachable pieces. These pillows are the perfect size for your little one’s&nbsp;arms.</p>
			</div>
		</div>
	</div>

	{{!-- Wall Decor Products --}}
	<div class="products__box">
		<div class="product-title__box">
			<h3 class="product-title">Wall Decor for your bear walls</h3>
		</div>

		<div class="products__group">
			<div class="products__group__item">
				<div class="decals">
					<div class="item__heading__box">
						<h4 class="item__heading">Wall Decals</h4>
					</div>
				</div>
				<p class="item__text">Decorate any room in the house with these stylish AME wall decals. Made with Blik Re-Stik, these decals are movable and&nbsp;reusable.</p>
			</div>

			<div class="products__group__item">
				<div class="posters">
					<div class="item__heading__box">
						<h4 class="item__heading">Posters</h4>
					</div>
				</div>
				<p class="item__text">Hand screen printed posters on French 100lb. cover colored paper. Pick from any of the animals in the AME&nbsp;kingdom.</p>
			</div>
		</div>
	</div>

	{{!-- Mobile Apps Products --}}
	<div class="products__box">
		<div class="product-title__box">
			<h3 class="product-title">Mobile Apps with sofishtication in&nbsp;mind</h3>
		</div>

		<div class="products__group">
			<div class="products__group__item">
				<div class="speak-piggy">
					<div class="item__heading__box">
						<h4 class="item__heading">Speak, Piggy!</h4>
					</div>
				</div>
				<p class="item__text">Speak, Piggy! Is an educational app that gives the animals in the A Modern Eden universe a voice - like oinks, moos or&nbsp;woofs.</p>
			</div>

			<div class="products__group__item">
				<div class="c-for-cow">
					<div class="item__heading__box">
						<h4 class="item__heading">C is for Cow</h4>
					</div>
				</div>
				<p class="item__text">C is for Cow will playfully teach your little one recognition and phonetics for each letter in the&nbsp;alphabet.</p>
			</div>

			<div class="products__group__item">
				<div class="two-by-two">
					<div class="item__heading__box">
						<h4 class="item__heading">Two by Two</h4>
					</div>
				</div>
				<p class="item__text">Two by Two is a modern twist on the classic memory game and includes 40 of the beloved AME&nbsp;animals.</p>
			</div>
		</div>
	</div>

	<div class="where-to-buy">
		<p class="where-to-buy__text">Want to purchase one of our many fun products? Check&nbsp;out </p>
		<a href="http://www.landofnod.com/" class="where-to-buy__logo icon-land-of-nod">Land of Nod</a>
	</div>
</section>