<section class="retailers">
	<h2 class="retailer__heading">Retailers</h2>
	<p>Want to carry one of our products? Fill out the form below! We can't wait to work with you!</p>
	
	<form>
		
	</form>
</section>