<section class="retailers" id="retailer">
  <h2 class="retailers__heading">Retailers</h2>
  <p class="retailers__text">Want to carry one of our products? Fill out the form below! We can't wait to work with you!</p>

  <form class="retailers__form">
    <input class="retailers__input" type="text" name="Full Name" placeholder="John Doe" required>
    <input class="retailers__input" type="text" name="Company Name" placeholder="Company Name">
    <input class="retailers__input" type="text" name="Company Location" placeholder="Company Location">
    <input class="retailers__input" type="email" name="Email" placeholder="Johndoe@email.com" required>
    <textarea class="retailers__textarea" name="Message" placeholder="Message" required></textarea>
    <button class="retailers__submit" type="submit">Send!</button>
  </form>
</section>
