#return-to-top {
  font-family: $font-avenir-roman;
  font-size: 1em; //16px
  font-weight: 400;
  color: $color-white;
  padding: 1em; //16px
  z-index: 2;
  position: fixed;
  bottom: 1.5em; //24px
  right: 1.5em; //24px
  background: $color-black;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.9);
    color: $color-white;
  }
}
