#return-to-top {
  font-family: $font-avenir-roman;
  font-size: 1em; //16px
  font-weight: 400;
  color: $color-white;
  padding: 1em; //16px
  z-index: 2;
  position: fixed;
  bottom: 1.5em; //24px
  right: 1.5em; //24px
  background: $color-brown;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background: $color-white;
    color: $color-brown;
  }
}

#owl-btn {
  z-index: 3;
  position: fixed;
  bottom: 4em; //24px
  right: 1.5em; //24px
  display: block;
  height: 8em;
  width: auto;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
