.carousel {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.carousel__img {
  background-image: url("http://placehold.it/200x150");
  background-size: cover;
  background-position: center;
  height: 12.5em; //200px
  width: 9.375em; //150px
  margin: 0px 0.3125; //0 5px
  padding-top: 3.75em; //60px

  &:hover {
    border: 3px solid black;
    background: rgba(0,0,0,0.5);
    color: $color-white;
  }

  &:hover .carousel__text {
    display: block;
  }
}

.carousel__text {
  display: none;
  text-align: center;
  padding-bottom: 1em; //16px
}

.slick-dots {
  text-align: center;
  margin: 0 0 0.625em 0; //0 0 10px 0
  padding: 0;
  
  li {
    display: inline-block;
    margin-left: 0.25em; //4px
    margin-right: 0.25em; //4px

    &.slick-active {
      button {
        background-color: $color-black;
      }
    }

    button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color: $color-dark-gray;
      border: none;
      width: 0.9375em; //15px
      height: 0.9375em; //15px
      border-radius: 50%;
    }

    :hover {
      background-color: $color-black;
    }
  }
}

//Custom Arrow
.prev {
  color: $color-dark-gray;
  position: absolute;
  top: 38%;
  left: -2em; //-32px
  font-size: 1.5em; //24px

  :hover {
    cursor: pointer;
    color: $color-black;
  }
}

.next {
  color: $color-dark-gray;
  position: absolute;
  top: 38%;
  right: -2em; //-32px
  font-size: 1.5em; //24px

  :hover {
    cursor: pointer;
    color: $color-black;
  }
}

@media screen and (max-width: 800px) {
  .next {

  }
}
