//---------------Break Points---------------//
$bp-carousel-small: 30em; //480px

.carousel {
  box-sizing: border-box;
  padding-top: 1.5em; //24px
  background-color: rgba($color-yellow, 0.1);

  @media(min-width: $bp-global-xsmall) {
    margin-top: 4em; //64px
  }

  @media(min-width: $bp-global-small) {
    margin-top: 8em; //128px 
  }

  @media(min-width: $bp-global-large) {
    margin-top: 6em; //96px
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  @media(min-width: $bp-global-xlarge) {
    width: 90em;
    margin: 0 auto;
  }
}

.carousel__img {
  height: 13em; //208px
  width: auto;
  margin: 0 0.5em; //0 8px

  &:hover .carousel__text__box, .carousel__text {
    display: block;
  }
}

.antelope {
  background: url("/images/antelope.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.cow {
  background: url("/images/cow.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.elephant {
  background: url("/images/elephant.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.goose {
  background: url("/images/goose.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.horse {
  background: url("/images/horse.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.kangaroo {
  background: url("/images/kangaroo.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.lion {
  background: url("/images/lion.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.moose {
  background: url("/images/moose.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.mouse {
  background: url("/images/mouse.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.octopus {
  background: url("/images/octopus.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.rhino {
  background: url("/images/rhino.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.snake {
  background: url("/images/snake.png") no-repeat;
  background-position: center;
  background-size: 13em auto;
}

.carousel__text {
  font-family: $font-avenir-roman;
  font-size: 1em; //16px
  font-weight: 400;
  color: $color-white;
  text-align: center;
  display: none;
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  padding: 0.25em 0; //4px 0

  &__box {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    background-color: $color-orange;
    padding: 0.25em 0; //4px 0
    margin-top: 9.5em; //152px

    @media(min-width: $bp-carousel-small) {
      display: none;
      max-width: 95%;
    }

    @media(min-width: $bp-global-xlarge) {
      max-width: 16em; //256px
    }
  }
}

.slick-dots {
  text-align: center;
  margin: 0 0 0.625em 0; //0 0 10px 0
  padding: 0.75em; //12px

  li {
    display: inline-block;
    margin-left: 0.5em; //8px
    margin-right: 0.5em; //8px

    &.slick-active {
      button {
        background-color: $color-blue;
      }
    }

    button {
      text-shadow: none;
      color: transparent;
      background-color: $color-orange;
      border: none;
      width: 1em; //16px
      height: 1em; //16px
      border-radius: 50%;

      &:hover {
        background-color: $color-white;
      }

      &:focus {
        outline: none;
      }

      @media(min-width: $bp-carousel-small) {
        width: 1.75em; //28px
        height: 1.75em; //28px
      }
    }
  }
}
