.carousel {
  box-sizing: border-box;
  margin-top: 8em; //128px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {

}

.carousel__img {
  height: 12.5em; //200px
  width: 9.375em; //150px
  margin: 0px 0.3125; //0 5px
  padding-top: 3.75em; //60px

  &:hover .carousel__text__box, .carousel__text {
    display: block;
  }
}

.icon-cheetah {
  background-position: center;
  background-size: contain;
}

.icon-cow {
  background-position: center;
  background-size: contain;
}

.icon-elephant {
  background-position: center;
  background-size: contain;
}

.icon-iguana {
  background-position: center;
  background-size: contain;
}

.icon-moose {
  background-position: center;
  background-size: contain;
}

.icon-narwhal {
  background-position: center;
  background-size: contain;
}

.icon-rhino {
  background-position: center;
  background-size: contain;
}

.icon-yak {
  background-position: center;
  background-size: contain;
}

.carousel__text {
  font-family: $font-avenir-roman;
  font-size: 1em; //16px
  font-weight: 400;
  color: $color-white;
  text-align: center;
  display: none;
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  padding: 0.25em 0; //4px 0\

  &__box {
    display: none;
    max-width: 75%;
    margin: 0 auto;
    background-color: $color-orange;
    padding: 0.25em 0; //4px 0
    margin-top: 5.5em; //88px
  }
}

.slick-dots {
  text-align: center;
  margin: 0 0 0.625em 0; //0 0 10px 0
  padding: 1em; //16px

  li {
    display: inline-block;
    margin-left: 0.5em; //8px
    margin-right: 0.5em; //8px

    &.slick-active {
      button {
        background-color: $color-blue;
      }
    }

    button {
      text-shadow: none;
      color: transparent;
      background-color: $color-orange;
      border: none;
      width: 1.5em; //24px
      height: 1.5em; //24px
      border-radius: 50%;

      &:hover {
        background-color: $color-white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
