//---------------Break Points---------------//
$bp-faq-xsmall: 20em; //320px
$bp-faq-small: 50em; //800px
$bp-faq-medium: 75em; //1200px

.faq {
  background-color: $color-orange;
  text-align: center;
  padding: 4em 0; //64px 0
  position: relative;

  &__heading {
    color: $color-light-gray;
    @include border-gray;
    @include section-heading;
  }

  &__targets {
    position: absolute;
    top: 0;
  }

  &__content {
    margin-top: 4em; //64px
  }

  &__links {
    width: 100%;
    margin: 0 auto;
  }

  &__link {
    width: 48%;
    display: inline;
    font-family: $font-avenir-roman;
    font-size: 2.25em; //36px
    font-weight: 400;
    color: $color-tan;
    text-decoration: none;
    padding: 0.5em; //8px
    border: 2px solid $color-brown;
    background-color: $color-brown;

    &:hover, &:active {
      background-color: $color-brown;
    }

    @media(min-width: $bp-faq-xsmall) {
      font-size: 2em; //32px
      padding: 0.375em; //6px
    } 
    
    @media(min-width: $bp-global-small) {
      padding: 0.5em 2em; //8px 32px
    }

    @media(min-width: $bp-global-medium) {
      padding: 0.5em 3em; //8px 48px
    }

    @media(min-width: $bp-faq-medium) {
      padding: 0.5em 4em; //8px 64px
    }

    @media(min-width: $bp-global-xlarge) {
      padding: 0.5em 6em; //8px 96px
    }
  }

  &__list {
    list-style: none;
    margin-top: 4em; //64px
    padding: 0;
  }

  &__item {
    margin: auto;
    margin-bottom: 1.5em; //24px
  }

  &__question {
    width: 85%;
    margin: 0 auto;
    background-color: $color-tan;
    font-family: $font-avenir-roman;
    font-size: 1.125em; //18px
    font-weight: 400;
    color: $color-orange;
    cursor: pointer;
    padding: 1.25em; //20px
    border: none;
    text-align: left;
    outline: none;
    display: block;

    &:hover {
      background-color: $color-brown;
    }

    @media(min-width: $bp-faq-xsmall) {
      width: 80%;
    }

    @media(min-width: $bp-faq-small) {
      width: 70%;
    }

    @media(min-width: $bp-global-xlarge) {
      width: 56em; //896px
    }
  }

  &__answer {
    margin: 0 auto;
    font-family: $font-avenir-roman;
    font-size: 1em; //16px
    font-weight: 400;
    color: $color-tan;
    text-align: left;
    padding: 0.5em 0; //8px 0
    display: none;
    
    @media(min-width: $bp-faq-xsmall) {
      width: 85%;
    }

    @media(min-width: $bp-global-xsmall) {
      width: 90%;
    }

    @media(min-width: $bp-faq-small) {
      width: 70%;
    }

    @media(min-width: $bp-global-xlarge) {
      width: 62em; //992px
    }

    &__link {
      color: $color-brown;
      text-decoration: none;
    }
  }

  &__other {
    width: 90%;
    margin: auto;

    @media(min-width: $bp-faq-small) {
      width: 45em; //720px
    }

    &__text {
      font-family: $font-avenir-roman;
      font-size: 1em; //16px
      font-weight: 400;
      color: $color-brown;
      padding: 1em; //16px
      border: 2px solid $color-tan;
    }
    
    &__link {
      color: $color-tan;
      text-decoration: none;
    }
  }
}

#parents:not(:target) ~ .faq__content .link__group--2,
#parents:target ~ .faq__content .link__group--1 {
  background-color: $color-orange;
}

#parents:target ~ .faq__content .list--1,
#parents:not(:target) ~ .faq__content .list--2 {
  display: none;
}

.faq__item + .faq__item {
  margin-top: 1em; //16px
}

.visually-hidden {
  position: fixed;
  top: 0;
  right: 100%;
}

[type="checkbox"]:checked ~ .faq__answer {
  display: block;
}
