//---------------Break Points---------------//
$bp-footer-small: 50em; //800px
$bp-footer-medium: 56.25em; //900px

.footer {
	background: url("../images/brown-wood.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding: 4em 0; //64px 0

	&__container {
		@media(min-width: $bp-global-xlarge) {
			width: 90em; //1440px
			margin: auto;
		}
	}

	&__links {
		width: 100%;

		@media(min-width: $bp-footer-medium) {
			width: 33%;
			float: left;
			text-align: left;
		}
	}

	&__link {
		font-family: $font-avenir-roman;
		font-size: 1em; //16px
		font-weight: 400;
		color: $color-white;
		text-decoration: none;
		display: block;
		margin: 0.25em auto; //4px

		&:hover {
			color: $color-orange;
		}

		@media(min-width: $bp-footer-medium) {
			margin-left: 3em; //48px
		}
	}

	&__text {
		font-family: $font-avenir-roman;
		font-size: 1em; //16px
		font-weight: 400;
		color: $color-white;
		display: block;
		margin: 0.25em auto; //4px

		@media(min-width: $bp-footer-medium) {
			margin-left: 3em; //48px
		}
	}

	&__site-logo {
		width: 100%;

		@media(min-width: $bp-footer-medium) {
			width: 33%;
			float: left;
		}
	}

	&__logo {
		background-position: center;
		display: block;
		height: 3em; //80px
		text-indent: -9999em;
		margin: 3em auto; //32px
		@include filter-invert;

		@media(min-width: $bp-footer-small) {
			margin: 1em auto; //16px
		}
	}

	&__icons {
		width: 100%;
		margin: auto;
		display: inline-block;

		@media(min-width: $bp-footer-medium) {
			width: 30%;
			text-align: right;
			margin-right: 2em; //32px
		}
	}

	&__icon {
		background-position: center;
		display: inline-block;
		height: 3em; //48px
		text-indent: -9999em;
		width: 23%;
		margin: 2em auto 0; //32px
		@include filter-invert;

		@media(min-width: $bp-footer-medium) {
			width: 26%;
			margin: 1em auto 0; //16px
		}
	}
}
