//---------------Break Points---------------//
//50em (800px)
//61.25em (980px)
//75em (1200px)
//81.25em (1300px)
//87.5em (1400px)
//90em (1440px)

.fun-fact__heading {
	font-family: $font-avenir-medium;
	font-size: 1.25em; //20px
	font-weight: 700;
	color: $color-brown;
	text-align: left;
	margin-bottom: 0.25em; //4px
}

.fun-fact__text {
	font-family: $font-avenir-roman;
	font-size: 1em; //16px
	font-weight: 400;
	color: $color-brown;
	text-align: left;
}

//-----Duck-----//
.icon-duck {
	background-position: 175% 100%;
	background-size: 10em auto; //160px

	@media(min-width: 50em) {
		background-position: 100% 100%;
		cursor: pointer;

		&:hover .fun-fact--duck{
			display: inline-block;
		}

		&:active .fun-fact--duck {
			display: inline-block;
		}
	}
}

.fun-fact--duck {
	@include fun-fact;
	margin: 0.625em 3.125em 0 0; //10px 50px 0 0

	@media(min-width: 50em) {
		top: 58%;
		right: 3%;
	}
	
	@media(min-width: 61.25em) {
		top: 66%;
	}
	
	@media(min-width: 75em) {
		right: 4%;
	}
	
	@media(min-width: 81.25em) {
		right: 5%;
	}
	
	@media(min-width: 87.5em) {
		top: 71%;
	}
}

//-----Bear-----//
.icon-bear {
	background-position: -65% 0%;

	@media(min-width: 50em) {
		background-position: -1% 0%;
		cursor: pointer;

		&:hover .fun-fact--bear{
			display: block;
		}

		&:active .fun-fact--bear {
			display: block;
		}
	}
}

.fun-fact--bear {
	@include fun-fact;
	margin: 0.625em 3.125em 0 0; //10px 50px 0 0

	@media(min-width: 50em) {
		bottom: -114%;
		left: 17%;
	}
	
	@media(min-width: 56.5em) {
		bottom: -80%;
	}
	
	@media(min-width: 61.25em) {
		bottom: -87%;
	}
	
	@media(min-width: 81.25em) {
		bottom: -48%;
		left: 14%;
	}
	
	@media(min-width: 87.5em) {
		bottom: -54%;
	}
}

//-----Goldfish-----//
.icon-goldfish {
	background-position: 195% 100%;
	background-size: 11em auto; //

	@media(min-width: 50em) {
		background-position: 114% 100%;
		cursor: pointer;

		&:hover .fun-fact--goldfish{
			display: block;
		}

		&:active .fun-fact--goldfish {
			display: block;
		}
	}
	
	@media(min-width: 56.5em) {
		background-position: 105% 100%;
	}
	
	@media(min-width: 81.25em) {
		background-size: 13em auto; //
	}
}

.fun-fact--goldfish {
	@include fun-fact;
	margin: 0.625em 3.125em 0 0; //10px 50px 0 0

	@media(min-width: 50em) {
		bottom: -216%;
		right: 3%;
	}
	
	@media(min-width: 56.5em) {
		bottom: -143%;
	}
	
	@media(min-width: 61.25em) {
		bottom: -150%;
	}
	
	@media(min-width: 62em) {
		bottom: -154%;
		right: 4%;
	}
	@media(min-width: 70em) {
		bottom: -150%;
	}
	
	@media(min-width: 81.25em) {
		bottom: -116%;
	}
	
	@media(min-width: 87.5em) {
		bottom: -122%;
		right: 5%;
	}
}

//-----Owl-----//
.icon-owl {
	background-position: 195% 100%;
	background-size: 11em auto; //

	@media(min-width: 50em) {
		background-position: 114% 100%;
		cursor: pointer;

		&:hover .fun-fact--owl{
			display: block;
		}

		&:active .fun-fact--owl {
			display: block;
		}
	}
	
	@media(min-width: 56.5em) {
		background-position: 105% 100%;
	}
	
	@media(min-width: 81.25em) {
		background-size: 13em auto; //
	}
}

.fun-fact--owl {
	@include fun-fact;
	margin: 0.625em 3.125em 0 0; //10px 50px 0 0

	@media(min-width: 50em) {
		bottom: -216%;
		right: 3%;
	}
	
	@media(min-width: 56.5em) {
		bottom: -143%;
	}
	
	@media(min-width: 61.25em) {
		bottom: -150%;
	}
	
	@media(min-width: 62em) {
		bottom: -154%;
		right: 4%;
	}
	@media(min-width: 70em) {
		bottom: -150%;
	}
	
	@media(min-width: 81.25em) {
		bottom: -116%;
	}
	
	@media(min-width: 87.5em) {
		bottom: -122%;
		right: 5%;
	}
}