//---------------Break Points---------------//
$bp-product-small: 56.5em; //904px
$bp-product-medium: 62em; //992px
$bp-product-large: 81.25em; //1300px

.products {
	background: url("../images/white-wood.jpg") no-repeat center;
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
	padding: 4em 0; //64px 0
	margin-top: -0.75em; //-12px
	
	@media(min-width: $bp-global-small) {
		background-attachment: fixed;
	}

	&__heading {
		width: 10em; //160px
		font-family: $font-egyptian;
		font-size: 1em; //16px
		color: $color-blue;
		border-top: 2px solid $color-blue;
		border-bottom: 2px solid $color-blue;
		padding: 0.25em 0; //4px 0
		margin: auto;

		@media(min-width: $bp-global-medium) {
			font-size: 1.5em; //24px
		}
	}

	&__box {
		margin: auto;
	}

	&__group {
		display: inline-block;
		
		@media(min-width: $bp-global-xlarge) {
			width: 90em; //1440px
		}

		&__item {
			width: 100%;

			@media(min-width: $bp-product-small) {
				width: 48%;
				display: inline-block;
			}

			@media(min-width: $bp-product-large) {
				width: 32%;
			}
		}
	}
}

.product-title {
	font-family: $font-egyptian;
	font-size: 1.75em; //28px
	color: $color-white;
	border: 2px solid $color-white;
	padding: 1em; //16px

	@media(min-width: $bp-global-small) {
		font-size: 2em; //32px
	}

	@media(min-width: $bp-product-medium) {
		font-size: 2.5em; //40px
	}

	&__box {
		width: 85%;
		background-color: $color-blue;
		padding: 1em; //16px
		margin: 4em auto 3em; //64px 48px
		
		@media(min-width: $bp-global-xlarge) {
			width: 76em; //1216px
		}
	}
}

.item__heading {
	font-family: $font-avenir-roman;
	font-size: 1em; //16px
	font-weight: 400;
	color: $color-white;
	border-top: 2px solid $color-white;
	border-bottom: 2px solid $color-white;
	padding: 0.5em 0; //8px 0

	@media(min-width: $bp-product-large) {
		font-size: 1.25em; //20px
	}

	&__box {
		width: 100%;
		background-color: $color-orange;
		padding: 0.5em 0; //8px 0
		position: relative;
		margin: auto;
		z-index: 1;
		top: 15em; //240px

		@media(min-width: $bp-product-large) {
			top: 16.25em; //260px
		}
	}
}

.item__text {
	width: 90%;
	font-family: $font-avenir-roman;
	font-size: 1em; //16px
	font-weight: 400;
	color: $color-brown;
	margin: 2em auto 5em; //32px 80px
	
	@media(min-width: $bp-global-small) {
		width: 36em; //576px
	}
	
	@media(min-width: $bp-product-small) {
		width: 90%;
	}
	
	@media(min-width: 960px) { //60em
		width: 26em;
	}
	
	@media(min-width: $bp-product-large) {
		width: 90%;
	}
}

.flashcards {
	background: url("../images/flashcards.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.wall-puzzles {
	background: url("../images/wall-puzzles.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.pillows {
	background: url("../images/pillow.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.decals {
	background: url("../images/wall-decal.jpg") no-repeat 50% 40%;
	background-size: cover;
	@include product-img;
}

.posters {
	background: url("../images/poster.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.speak-piggy {
	background: url("../images/speak-piggy.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.c-for-cow {
	background: url("../images/c-is-for-cow.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.two-by-two {
	background: url("../images/two-by-two.jpg") no-repeat center;
	background-size: cover;
	@include product-img;
}

.where-to-buy {
	width: 90%;
	background-color: $color-blue;
	padding: 1em; //16px
	margin: 4em auto 1em; //64px 16px
	
	@media(min-width: $bp-global-xlarge) {
		width: 80em; //1280px
	}

	&__text {
		font-family: $font-egyptian;
		font-size: 1.5em; //24px
		color: $color-white;

		@media(min-width: $bp-global-large) {
			position: absolute;
			margin-top: 1.25em; //20px
			left: 9em; //144em
		}

		@media(min-width: $bp-global-xlarge) {
			left: 9.5em; //152px
		}
	}

	&__logo {
		background-position: 50% 50%;
		display: block;
		margin-top: 1em; //16px
		padding: 1em; //16px
		text-indent: -9999em;
		@include filter-invert;

		@media(min-width: $bp-global-large) {
			background-position: 80% 50%;
			margin-bottom: 1em; //16px
		}

		@media(min-width: $bp-global-xlarge) {
			background-position: 78% 50%;
		}
	}
}
