//---------------Fonts---------------//
$font-egyptian: Egyptian, Georgia, "Times New Roman", serif;
$font-avenir: Avenir, Helvetica, Arial, sans-serif;
$font-avenir-roman: $font-avenir;
$font-avenir-medium: $font-avenir;

//---------------Colors---------------//
//Base Colors
$color-brown: #4B3900;
$color-orange: #F26531;
$color-blue: #08B7BD;
$color-tan: #F0F1D9;
$color-yellow: #E8CF00;

//Grayscale Colors
$color-light-gray: #E4E5E6;
$color-dark-gray: #A1A1A1;

//Black & White
$color-black: #000;
$color-white: #fff;

//---------------Global Break Points---------------//
$bp-global-xsmall: 25em; //400px
$bp-global-small: 45em; //720px
$bp-global-medium: 61.25em; //980px
$bp-global-large: 87.5em; //1400px
$bp-global-xlarge: 90em; //1440px
