<!doctype html>
<html>
  <head>
    {{!-- The head is set up as a partial.
          Edit that partial to load in styles, set meta tags, and give a title. --}}
    {{>_head}}
  </head>
  <body id="top">
    {{!-- Body conent is loaded in this area of the template,
          these are the contents of each pages/*.hbs file --}}
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"  type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"  type="text/javascript"></script> 
    <script src="./index.js" type="text/javascript"></script>

  </body>
</html>
